<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
    <div class="container pt-3">
        <h1 class="fs-2 pb-3">Ver usuario</h1>
        <form action="">
            <div class="row gy-3">
                <div class="col-md-6">
                    <label>Apellido paterno</label>
                    <input type="text" name="appaterno" id="appaterno" class="form-control w-100">
                </div>
                <div class="col-md-6">
                    <label>Apellido materno</label>
                    <input type="text" name="apmaterno" id="apmaterno" class="form-control w-100">
                </div>
                <div class="col-md-6">
                    <label>Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control w-100">
                </div>
                <div class="col-md-6">
                    <label>Fecha de nacimiento</label>
                    <input type="date" name="fechanac" id="fechanac" class="form-control w-100">
                </div>
                <div class="col-md-6">
                    <label>Edad</label>
                    <input type="number" name="edad" id="edad" class="form-control w-100">
                </div>
                <div class="col-md-6">
                    <label>Genero</label>
                    <select name="genero" id="genero" class="form-select w-100">
                        <option value="M">Hombre</option>
                        <option value="F">Mujer</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" class="form-control w-100">
                </div>
                <div class="col-md-6">
                    <label>Telefono</label>
                    <input type="tel" name="telefono" id="telefono" class="form-control w-100">
                </div>
                <div class="col-md-6">
                    <label>Correo electronico</label>
                    <input type="text" name="email" id="email" class="form-control w-100">
                </div>
                <div class="col-md-12">
                    <a class="btn btn-primary" href="#" id="btnEditar">Editar</a>
                    <a class="btn btn-primary" href="/clients">Ver todos los clientes</a>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script type="module">
        const url = new URLSearchParams(location.href.split('?')[1]);
        const response = await fetch(`http://127.0.0.1:3000/getClient?id=${url.get('id')}`);
        const data = await response.json();
        Object.entries(data).forEach(([key, value]) => {
            const elem = document.getElementById(key);
            if (elem) {
                elem.value = value;
            }
        });
        document.getElementById('btnEditar').href = `/edit_client?id=${data.clave}`;
    </script>
</body>
</html>
